{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <ul class="list-group">
        <li class="list-group-item active">
        </li>
    </ul>
    <div class="card bg-light my-4">
        <h3 class="card-header">Update question</h3>
        <div class="card-body">
            <form method="POST">{% csrf_token %}
                <div class="input-group my-3">
                    <input value="{{ question.title }}" name="title" type="text" class="form-control"
                        placeholder="Question" aria-describedby="basic-title">
                    <span class="input-group-text" id="basic-title">Question Title</span>
                </div>
                <div class="input-group my-3">
                    <input value="{{ question.marks }}" name="marks" type="number" class="form-control"
                        placeholder="Marks" aria-describedby="basic-tit le">
                    <span class="input-group-text" id="basic-title">Question Marks</span>
                </div>

                <button type="submit" class="btn btn-primary float-right"><b>Update</b></button>
                <button type="reset" class="btn btn-warning float-right mr-2">Reset</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}