{% extends 'base.html' %}
{% load tags %}
{% block content %}

<div class="container mt-5">
    <ul class="list-group">
        <li class="list-group-item active">
            <h3>{{ assignment.title }}</h3>
            <p>{{ assignment.description }}</p>
            <hr>
            <p><b>Total marks - </b>{{ assignment.slug|total_marks }}</p>
        </li>
        <form method="POST">{% csrf_token %}
            {% for question in questions %}
            <li class="list-group-item list-group-item-info">
                <b>{{ forloop.counter }}. {{ question.title }}</b>
                <b class="float-right">[{{ question.marks }}]</b>
                <ul>
                    <div class="form-check">
                        <input value="{{ question.option_1 }}" class="form-check-input" type="radio"
                            name="{{ question.slug }}" id="{{ question.slug }}1">
                        <label class="form-check-label" for="{{ question.slug }}1">{{ question.option_1 }}</label>
                    </div>
                    <div class="form-check">
                        <input value="{{ question.option_2 }}" class="form-check-input" type="radio"
                            name="{{ question.slug }}" id="{{ question.slug }}2">
                        <label class="form-check-label" for="{{ question.slug }}2">{{ question.option_2 }}</label>
                    </div>
                    <div class="form-check">
                        <input value="{{ question.option_3 }}" class="form-check-input" type="radio"
                            name="{{ question.slug }}" id="{{ question.slug }}3">
                        <label class="form-check-label" for="{{ question.slug }}3">{{ question.option_3 }}</label>
                    </div>
                    <div class="form-check">
                        <input value="{{ question.option_4 }}" class="form-check-input" type="radio"
                            name="{{ question.slug }}" id="{{ question.slug }}4">
                        <label class="form-check-label" for="{{ question.slug }}4">{{ question.option_4 }}</label>
                    </div>
                </ul>
            </li>
            {% endfor %}
            {% if assignment.user == user %}
            <a href="{% url 'create-mcqs' assignment.slug %}" class="btn btn-primary float-right mt-3"><b>Edit</b></a>
            {% else %}
            <button type="submit" class="btn btn-primary float-right mt-3"><b>Submit</b></button>
            {% endif %}
            <button type="reset" class="btn btn-warning float-right mt-3 mr-2">Reset</button>

        </form>
    </ul>
</div>

{% endblock content %}